html,
body {
  text-align: center;
  height: 100%;
  font-family: 'Muli', sans-serif;
}

/* Header */

.header {
  padding-top: 0px;
  width: 100%;
  background-image: url("images/main3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media(min-width:767px) {
    .header {
      padding-top: 90px;
    }

    .navbar {
        padding: 10px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
  }

.site-logo {
  padding-top: 5px;
  padding-bottom: 5px;
  height: 60px;
}

.menu {
  float right:
}

.jumbotron {
  background-color: transparent;
  margin-bottom: 0px;
  padding-bottom: 108px;
  padding-top: 108px;
}

.site-logo-big {
  height: 200px;
  margin-bottom: 30px;
}

/* Content */

.home p {
  font-size: 14pt;
  text-shadow: 0px 2px 2px #000;
  color: white;
}

.row-equal-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.section-header-wrapper {
  margin: auto;
}

.section-header {
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.section-icon {
  font-size: 40pt;
  color: black;
}

.section-header h2 {
  vertical-align: middle;
  color: black;
}

.section-header a {
  text-decoration: none;
  color: #990100;
}

/* Footer */

.footer {
  width: 100%;
  height: 200px;
  background-color: grey;
}

/* Team */

.team-header {
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #DDDDDD;
}

.team-header h2 {
  vertical-align: middle;
  color: black;
}

.team {
  background-color: #DDDDDD;
  padding-bottom: 48px;
}

.team img {
  width: 100px;
}

.team-profile {
  margin: 20px 0px 25px 0px;
}

p.title {
  margin-top: 10px;
  margin-bottom: 2px;
  font-size: 20px;
}

.profile-btn {
  margin-top: 5px;
  min-width: 75px;
  color: white;
  background-color: #990100;
  border-color: #990100;
}

/* Contact */

.contact {
  padding-top: 48px;
  padding-bottom: 48px;
}

a.link {
  font-size: 15pt;
}

@media (min-width: 992px) {
  .section-header-contact {
    height: 480px;
    display: flex;
  }
}

.contact iframe {
  margin: 20px 0px 20px 0px;
  height: 450px;
  width: 100%;
}

@media (min-width: 992px) {
  .contact iframe {
    margin: 20px 0px 20px 0px;
    height: 450px;
    width: 80%;
  }
}
