html,
body {
  text-align: center;
  height: 100%;
  font-family: 'Muli', sans-serif;
}

/* Header */

.header {
  padding-top: 0px;
  width: 100%;
  background-image: url("images/main3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.2);
  border-color: transparent;
  min-height: 40px;
  -webkit-transition: background-color .5s ease-in-out,padding .5s ease-in-out;
  -moz-transition: background-color .5s ease-in-out,padding .5s ease-in-out;
  transition: background-color .5s ease-in-out,padding .5s ease-in-out;
}

.navbar-default .navbar-nav>li>a {
  color: white;
}

.navbar-default .navbar-nav>li>a:hover {
  background-color: white;
}

.top-nav-collapse {
  background-color: white;
  -webkit-transition: background-color .5s ease-in-out,padding .5s ease-in-out;
  -moz-transition: background-color .5s ease-in-out,padding .5s ease-in-out;
  transition: background-color .5s ease-in-out,padding .5s ease-in-out;
}

.top-nav-collapse .navbar-nav>li>a {
  color: #777;
}

.navbar-toggle {
  background-color: #DDD;
}

@media(min-width:767px) {
    .header {
      padding-top: 90px;
    }

    .navbar-default .navbar-nav>li>a {
      padding: 20px 15px;
      -webkit-transition: all .5s ease-in-out,padding .5s ease-in-out;
      -moz-transition: all .5s ease-in-out,padding .5s ease-in-out;
      transition: all .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse .navbar-nav>li>a {
      padding: 10px 15px;
      -webkit-transition: all .5s ease-in-out,padding .5s ease-in-out;
      -moz-transition: all .5s ease-in-out,padding .5s ease-in-out;
      transition: all .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
  }

.site-logo {
  padding-top: 5px;
  padding-bottom: 5px;
  height: 60px;
}

.menu {
  float right:
}

.jumbotron {
  background-color: transparent;
  margin-bottom: 0px;
  padding-bottom: 108px;
  padding-top: 108px;
}

.site-logo-big {
  height: 200px;
  margin-bottom: 30px;
}

/* Content */

.full-header {
  padding: 56px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #DDDDDD;
}

.full-header h2 {
  vertical-align: middle;
  color: black;
}

.full-footer {
  padding: 16px 0px 56px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #DDDDDD;
}

.full-footer a {
  font-size: 26px;
  vertical-align: middle;
  color: black;
  text-decoration: none;
}

.home p {
  font-size: 14pt;
  text-shadow: 0px 2px 2px #000;
  color: white;
}

.row-equal-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.section-header-wrapper {
  margin: auto;
}

.section-header {
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.section-icon {
  font-size: 40pt;
  color: black;
}

.section-header h2 {
  vertical-align: middle;
  color: black;
}

.section-header a {
  text-decoration: none;
  color: #990100;
}

/* Footer */

.footer {
  width: 100%;
  height: 200px;
  background-color: grey;
}

/* Team */

.team-header {
  background-color: #eee;
}

.team {
  background-color: #DDD;
  padding-bottom: 48px;
}

.team img {
  width: 100px;
}

.team-profile {
  margin: 20px 0px 25px 0px;
}

p.title {
  margin-top: 10px;
  margin-bottom: 2px;
  font-size: 20px;
}

.profile-btn {
  margin-top: 5px;
  min-width: 75px;
  color: white;
  background-color: #990100;
  border-color: #990100;
}


/* Event */

.event-header {
  background-color: white;
}

.event {
  background-color: white;
  padding-bottom: 48px;
}

.event-tile {
  min-height: 250px;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
}

.event-cover {
  min-height: 250px;
  width: 100%;
  position: relative;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.6)
    ), url('images/sprint3r-cover.png');
  background-color: #DDD;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

.event-cover > h2 > a {
  text-decoration: none;
  color: white;
}

.event-cover > h2 {
  margin: 0px 0px;
  padding: 20px 20px;
  bottom: 0;
  position: absolute;
  color: white;
  font-size: 28px;
}

.event-detail {
  display: table;
}

.event-date {
  display: table-cell;
  padding: 24px 24px;
  background-color: #990100;
  vertical-align: middle;
}

.event-date > p.month {
  color: white;
  font-size: 14pt;
  margin: 0 0;
}

.event-date > p.date {
  color: white;
  font-size: 22pt;
  margin: 0 0;
}

.event-description {
  display: table-cell;
  padding: 24px 24px;
  width: 100%;
  vertical-align: middle;
  background-color: #DDD;
}

.event-description > p {
  color: black;
  margin: 0 0;
  font-size: 12pt;
}

.event img {
  width: 100%;
}

.event-footer {
  background-color: white;
}


/* Contact */

.contact {
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: #DDD;
}

a.link {
  font-size: 15pt;
}

@media (min-width: 992px) {
  .section-header-contact {
    height: 480px;
    display: flex;
  }
}

.contact iframe {
  margin: 20px 0px 20px 0px;
  height: 450px;
  width: 100%;
}

@media (min-width: 992px) {
  .contact iframe {
    margin: 20px 0px 20px 0px;
    height: 450px;
    width: 80%;
  }
}
